<form [formGroup]="registrationForm" class="authentication" (ngSubmit)="onSubmit()">
    <p>{{error$|async}}</p>
    <mat-form-field>
        <input required matInput placeholder="Login" formControlName="username">
    </mat-form-field>
    <mat-form-field>
        <input required matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>
    <div mat-dialog-actions>
        <button type="submit" [disabled]="!registrationForm.valid" mat-button>Submit</button>
        <button type="button" mat-button mat-dialog-close>No Thanks</button>
    </div>
</form>