
  
.app-movie-preview h2, .OneOfComparedMovies h2{
    width:100%;
    height: 80px;
    cursor: pointer;
  }
.app-movie-preview img, .OneOfComparedMovies img{
    width: 185px;
    height: 278px;
    cursor: pointer;
  }