/* You can add global styles to this file, and also import other style files */
h1, p {
    font-family: Lato;
  }
  button{
    cursor: pointer;
  }
  body{
    margin:10px;
    background-image: url('./assets/images/Background.jpg');
    background-color: #bcffeb;
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
  }
  
  .OneOfMovies {
    display: inline-block;
    margin-left:10px;
    margin-bottom:10px;
    width:250px;
    height: 500px;
    border: solid 1px;
    padding: 15px;
  }
  
  .OneOfMovies h2, .OneOfComparedMovies h2{
    width:100%;
    height: 80px;
    cursor: pointer;
  }
  .OneOfMovies img, .OneOfComparedMovies img{
    width: 185px;
    height: 278px;
    cursor: pointer;
  }
  
  .TheMovie{
    padding-left: 50px;
  }
  
  img{
    margin: auto;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
